/* Ordem top, right, bottom, left */
h1 { 
	color: #fff; 
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}

.dinamic {
	margin: 0 15%;
	padding: 0 20%;
	background-color: lightgray;
}

.segundo {
	margin: 0 15%;
	background-color: #cc0;
}